@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Mooli&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

/******** Header **********/
.miLogo {
  width: 75px;
}

.miFondo {
  background-color: white;
}

.miLink:hover {
  color: rgb(252, 0, 155);
}

/***** INICIO **********/

/******* contenedor imagen de fondo *******/
.contenedorInicio {
  background-image: url(../img/imagen-fondo-inicio2.png);
  background-repeat: no-repeat;
  background-size: 100% 98%;
  background-position: center center;
}

.contenedorInicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
}

.textoEncima {
  font-family: "Mooli", sans-serif;
  font-size: 65px;
  color: white;
  top: 40%;
}

.textoEncimaDos {
  font-family: "Courgette", cursive;
  font-weight: bold;
  font-size: 80px;
  color: white;
  top: 50%;
}

.textoBtn a {
  font-family: "Mooli", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 30px;
  background-color: rgb(252, 0, 155);
  padding: 10px 50px;
  border-radius: 55px;
  box-shadow: 6px 4px black;
}

.textoBtn a:hover {
  color: black;
  background-color: white;
}

.contenedorImgInicio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}

.CntIniAba {
  background-image: url(../img/imagen-fondo-inicio3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.CntIniAba h2 {
  font-size: 30px;
  text-align: center;
  justify-content: center;
  color: white;
  font-family: "Mooli", sans-serif;
  padding: 30px;
  margin: 20px;
}

/***********Formulario contacto*********/
.contenedorFormulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
}

.puedesContactarnos p {
  text-transform: uppercase;
  text-align: center;
  font-family: "Mooli", sans-serif;
}
.puedesContactarnos h2 {
  text-transform: uppercase;
  text-align: center;
  color: rgb(252, 0, 155);
  font-size: 40px;
  font-family: "Courgette", cursive;
}

.formContacto {
  text-align: left;
  font-weight: bold;
  color: rgb(252, 0, 155);
  margin-top: 30px;
  font-family: "Mooli", sans-serif;
}
.formContacto input,
.formContacto textarea {
  border: 1px solid rgb(252, 0, 155);
}

/*Responsive*/
@media (max-width: 1023px) {
  /* INICIO */
  .contenedorInicio {
    grid-template-columns: 1fr;
  }
  .textoBtn {
    display: none;
  }
  .textoBtn a {
    display: none;
  }

  /* FORMULARIO */
  .contenedorFormulario {
    grid-template-columns: 1fr;
  }
  .logFant {
    display: none;
  }
}
